@import "vars.less";
@import "config.less";

#app {
    height: 100%;
    width: 100%;
}
body {
    background-color: @base-color;
}

.messenger {
    display: flex;
    width: 100%;
    height: 100%;
}

.messager-content-panel {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.side-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 350px;
    max-width: 400px;
    position: relative;
    box-shadow: 1px 0px 13px @shadow-color;
}

.chats-list {
    padding: 5px;
    overflow-y: auto;
}




.chat-messages-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 20px;
    height: 100%;
    overflow-y: auto;
}

.message-form {
    height: 50px;
    min-height: 50px;
    box-shadow: 0 0 10px @shadow-color;
    padding: 10px;

    &__body {
        height: 100%;
        width: 100%;
        display: flex;
    }
    &__input {
        flex: 1 0 auto;
        padding: 2px;
    }
    &__submit {
        padding: 5px;
        flex: 0 1 auto;
    }
}


.search-panel {
    padding-top: 10px;
    flex: 1;
    &__search-chat {
        width: 100%;
        padding: 3px;
        height: 30px;
    }
}
