@base-color: lightblue;
@hover-color: darken(@base-color, 10%);
@selected-color:darken(@base-color, 20%);

@accent-color: rgb(83, 83, 214);
@shadow-color: gray;
@accent-color-lite: lighten(@accent-color, 25%);
@disabled-color: red;