.users-list-panel {
    display:none;
    width: 300px;
    height: 100%;
    border: 1px solid gray;
    box-shadow: 0 0 10px grey;
    margin-left: auto;
    &--show {
        display: block;
    }
}
